.form {
  display: flex;
  flex-direction: column;

  height: 47.22%;
  width: 25.06%;


  background-color: white;

  border-radius: calc(0.7 * (1vh + 1vw));

  margin-top: 23vh;
  margin-left: 10vh;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 1.6vh;
  color: #000000;
  text-align: center;
}

h4 {
  margin-top: 1.5vh;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 1.6vh;
  text-align: center;
}


.field-shape {
  width: 62%;
  height: 13.2%;
  margin-bottom: 1.3vh;
}

.submit {
  width: 63%;
  height: 13.2%;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;

  background: #BC1716;

  border: 2px solid #BC1716;
  border-radius: calc(0.25 * (1vh + 1vw));
  outline: none;

  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vh;

  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    background: #891a19;
    border: 1px solid #891a19;
    transform: scale(0.99);
  }

}